<style type="text/css"> 

* {} 
body {font-size:12px; margin:0; padding:0;color:#222; font-family:Verdana,Arial,Helvetica,sans-serif; background:#f0f0f0;}
html, body { scroll-behavior:smooth; }
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {zoom:1;} 
ul,li {list-style:none;} 

img {border:0;} 
.wrapper {width:1920px; margin:0 auto;} 

#focus {width:1920px; height:921px; overflow:hidden; position:relative;} 
#focus ul {height:921px; position:absolute;} 
#focus ul li {float:left; width:1920px; height:921px; overflow:hidden; position:relative; }
#focus ul li div {position:absolute; overflow:hidden;} 

</style> 
